ol {
    list-style-type: decimal-leading-zero;
    color: darkblue;
    background-color: white;
    border: 2px solid blue;
    font-weight: bolder;
    font-size: 25px;
}

ul {
    list-style-type: circle;
    color: darkgreen;
    background-color: white;
    border: 2px solid green;
    font-weight: bold;
    font-size: 20px;
}

/* task3 */
ul {
    list-style-type: disc;
    color: navy;
    background-color: white;
    font-weight: bold;
    font-size: 45px;
    border: 10px solid darkslateblue;
}

ol {
    list-style-type: lower-alpha;
    color: darkred;
    background-color: black;
    font-weight: lighter;
    font-size: 35px;
    border: 5px solid darkgray;
}