div div{
    align-items: center;
    padding: 10px;
    margin: 8px;
    font-size: 14px;
    background-color: orange;
}
.id1{
    background-color: lightskyblue;
    width: 300px;
    height: 400px;
    border: solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}