#p1 {
    font-family: sans-serif; /* ყველაზე ხშირად გამოყენებადი კალიგრაფია ვებსაიტზე /
}

#p2 {
    font-family: serif; / ტექსტს რომ ვქმნით, თავდაპირველი დამწერლობა არის serif */
}

#p3 {
    font-family: monospace;
}

#p4 {
    font-family: cursive;
}

#p5 {
    font-family: fantasy;
}