* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.parent {
    position: relative;
    width: 400px;
    height: 400px;
}

.child {
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;

}

.st {
    background-color: rgb(255, 31, 151);
    top: 65px;
    left: 20px;
    z-index: 2;
}

.nd {
    background-color: #00a2e8;
    top: 90px;
    left: 90px;
    z-index: 3;
}

.rd {
    background-color: #1e821b;
    top: 155px;
    left: 60px;
    z-index: 1;
}