.card {
    width: 300px;
    height: 400px; 
    background-image: url('shopping.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #da0000; 
    border-radius: 8px; 
}