.container{
    display: flex;
}

.item1{
    flex-basis: 150px; 
    background: lightblue;
    border: 1px solid black;
    height: 80px;
}

.item2{
    flex-basis: 150px; 
    background: lightblue;
    border: 1px solid black;
    height: 80px;
}

.item3{
    flex-basis: 150px; 
    background: lightblue;
    border: 1px solid black;
    height: 80px;
}