/* task1 */
/* 
    1. position: static; 
    ეს არის ელემენტის სტანდარტული მდგომარეობა. ის მიყვება დოკუმენტის ჩვეულებრივ 
    ნაკადს. მასზე არ მოქმედებს top, bottom, left და right თვისებები.

    2. position: relative; 
    ელემენტი რჩება დოკუმენტის ნაკადში (ანუ მის ადგილს სხვა ელემენტი არ იკავებს), 
    თუმცა ჩვენ შეგვიძლია მისი გადაადგილება საწყისი პოზიციიდან. 
    მთავარია გვახსოვდეს: ის მოძრაობს საკუთარი თავის მიმართ.

    3. position: absolute; 
    ელემენტი ამოვარდება დოკუმენტის ნაკადიდან და არ ტოვებს ცარიელ ადგილს. 
    ის პოზიციონირდება უახლოესი მშობლის მიმართ, რომელსაც აქვს მინიჭებული 
    ნებისმიერი პოზიცია (გარდა static-ისა). თუ ასეთი მშობელი არ არსებობს, 
    ის უსწორდება პირდაპირ <body>-ს (ეკრანს).
*/

/* task2 */

.parent {
    width: 200px;
    height: 200px;
    border: 5px solid red;
    display: flex;
}

.box {
    width: 50px;
    height: 50px;
    flex-direction: row;
}

.red {
    background: red;
}

.green {
    background: green;
    position: relative;
    left: 30px;
    top: 20px;
}

.blue {
    background: blue;
}