.container {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
}

.dot {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    position: absolute;
}

.tl {
    top: 0;
    left: 0;
}

.tr {
    top: 0;
    right: 0;
}

.bl {
    bottom: 0;
    left: 0;
}

.br {
    bottom: 0;
    right: 0;
}