#g{
    color: red;
    font-size: 50px;
    background-color: blue;
}

#h{
    color: brown;
    font-size: 40px;
    background-color: yellow;
}

#r{
    color: yellow;
    font-size: 30px;
    background-color: purple;
}

#t{
    color: black;
    font-size: 20px;
    background-color: aqua;
}

#f{
    color: orange;
    font-size: 10px;
    background-color: aqua;
}