#go{
    color: blue;
    font-size: 60px;
    background-color: aqua;
}
#ga{
    color: black;
    font-size: 30px;
    background-color: chocolate;
}
#chalauri{
    color: brown;
    font-size: 40px;
    background-color: chartreuse;
}