.container {
    display: flex;
    height: 300px;
    align-items: center;
    border: 1px solid black;
}

.item {
    width: 80px;
    height: 80px;
    background: lightgreen;
    margin: 5px;
}

.special {
    align-self: flex-start;
}