/* 
flex-wrap - ის გვეხმარება იმაში, რომ შვილ ელემენტებმა თუ მშობელში
ადგილი ვერ იპოვეს, გადავიდნენ ახალ ხაზზე ანუ თუ ბევრი ელემენტია და აღარ ეტევა,
flex-wrap გადაწყვეტს დარჩნენ ერთ ხაზზე თუ გადავიდნენ ქვემოთ.
 */

/* 1) nowrap
ნაგულისხმევი მნიშვნელობაა.
ყველა ელემენტი დარჩება ერთ ხაზზე.

მაგალითი: */
.id1{
    display: flex;
    flex-wrap: nowrap;
}

/* 2) wrap
თუ ელემენტები აღარ ეტევა,
გადავა შემდეგ ხაზზე.

მაგალითი: */
.id1{
    display: flex;
    flex-wrap: wrap;
}

/* 3) wrap-reverse
ელემენტები გადავა ახალ ხაზზე,
მაგრამ შებრუნებული მიმართულებით.

მაგალითი: */
.id1{
    display: flex;
    flex-wrap: wrap-reverse;
}