.id1{
    background-color: purple;
    border: 3px solid black;
    width: 700px;
    display: flex;
    justify-content:space-between ;
    height: 70px;
    border-radius: 10px;
}

.id2{
    background-color: rgb(235, 153, 29);
    border: 2px solid black;
    width: 125px;
    border-radius: 10px;
}

.id7{
    background-color: rgb(235, 153, 29);
    border: 2px solid black;
    width: 150px;
    border-radius: 10px;
}
.id3{
    background-color: purple;
    border: 3px solid black;
    width: 700px;
    display: flex;
    justify-content:space-around ;
    height: 70px;
    border-radius: 10px;
}

.id4{
    background-color: rgb(235, 153, 29);
    border: 2px solid black;
    width: 125px;
    border-radius: 10px;
}

.id8{
    background-color: rgb(235, 153, 29);
    border: 2px solid black;
    width: 150px;
    border-radius: 10px;
}

.id5{
    background-color: purple;
    border: 3px solid black;
    width: 700px;
    display: flex;
    justify-content:space-evenly;
    height: 70px;
    border-radius: 10px;
}
.id6{
    background-color: rgb(235, 153, 29);
    border: 2px solid black;
    width: 125px;
    border-radius: 10px;
}

.id9{
    background-color: rgb(235, 153, 29);
    border: 2px solid black;
    width: 150px;
    border-radius: 10px;
}