/* task1 */
.id1{
    height: 600px;
    width: 600px;
    border: 3px solid red;
    display: flex;
}
div div{
    height: 100px;
    width: 100px;
    background-color: purple;
    border: 5px solid yellow;
    /* flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; */
    /* eseni arian ese rom vtqvat gzebi romlebic sxvadasxva xazze alageben mocemul divebs an nebismier rames */
}
