* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1e1e1e; 
}


#parent {
    width: 600px;
    height: 600px;
    border: 2px solid #f7d070; 
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 5px; 
    background-color: #f7d070; 
}


.blue {
    background-color: #6da4f7;
    grid-row: 1;
    grid-column: 1 / 4; 
}


.red-left {
    background-color: #ff4d5a;
    grid-row: 2;
    grid-column: 1;
}


.green {
    background-color: #7bf087;
    grid-row: 2;
    grid-column: 2;
}


.red-right {
    background-color: #ff4d5a;
    grid-row: 2;
    grid-column: 3;
}


.orange {
    background-color: #ff914d;
    grid-row: 3;
    grid-column: 1 / 4; 
}